 <ion-view view-title="move" ng-controller="accelController">
  <ion-content id="moveBack">
    <h1 id="startTitel"> Move it!</h1>
    <button class="buttonMid" id="buttonMove" class="button button-block button-positive center" ui-sref="app.send" ><img style="margin-top:10px;margin-left:10px;height:200px;width:200px;" src="img/move.svg"></button>
    <input style="background-color:#38383A;color:#FCFCFC;" id="lblX" type="number" value="0" ng-model="lblX">
    <input style="background-color:#38383A;color:#FCFCFC;" id="lblY" type="number" value="0" ng-model="lblY">
    <input style="background-color:#38383A;color:#FCFCFC;" id="lblZ" type="number" value="0" ng-model="lblZ">

  </ion-content>
</ion-view>
