<ion-view view-title="picture" on-swipe-right="goBack()">
	<ion-content id="picBack" >
		<h1 id="startTitel">Picture it!</h1>
		<button class="buttonMid" id="buttonPicture" class="button button-block button-positive center" ui-sref="app.move" ><img style="margin-top:10px;margin-left:10px;height:200px;width:200px;" src="img/gallery.svg"></button>

		<button class="button button-block button-positive center" onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">Choose picture</button>

		<img style="display:none;width:60px;height:60px;" id="largeImage" src="img/ionic.png" />
		</ion-content>
</ion-view>
