/* Empty. Add your own CSS if you like */
body{
	background-color: #FCFCFC;
}
#startTitel{
	margin-top: 10%;
	text-align: center;
	color: #FCFCFC;
}

.buttonMid{
	background-color: #EF295E;
	border-style: none;
	position:relative;
	margin-top: 100px;
	left: 17%;
	height: 240px;
	width: 240px;
	border-radius: 50%;
	font-size: 5em;
	color: #FCFCFC;
}

/* ------------------- Start -------------------*/

#startBack{
	background-image: url(../img/polygon2.png);
	background-position: right bottom; 
	background-repeat: no-repeat;
	background-size: 100% auto;
	
}






/* ------------------- Talk -------------------*/
#talkback{
	background-color: #EF295E;
	background-image: url(../img/polygon2.png);
	background-position: right bottom; 
	background-repeat: no-repeat;
	background-size: 100% auto;
	
}
#talkTitel{
	color: #FCFCFC;
}
#buttonTalk{
	background-color: #FCFCFC;
}

#talkTextForm{
	text-align: center;
}

#talkText{
	margin:20px auto;
	border-color: #FCFCFC;
	background-color: #EF295E;
	border-style: solid;
	border-width: 2px;
	color: #FCFCFC;
	text-align: center;
}

/* ------------------- picture ------------------- */
#picBack{
	background-color: #FFD044;
	background-image: url(../img/polygon2.png);
	background-position: right bottom; 
	background-repeat: no-repeat;
	background-size: 100% auto;
}


#buttonPicture{
	background-color: #FCFCFC;
}
#thumbnail{
	height: 20px;
	width: 20px;
	margin-left: 30%;
}


#buttonMove{
	background-color: #EF295E;
}
#buttonSend{
	background-color: #27D9A7;
}

/*------------------- Move -------------------*/

#moveBack{
	background-color: #38383A;
	background-image: url(../img/polygon2.png);
	background-position: right bottom; 
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#buttonMove{
	background-color: #FCFCFC;
	color: #38383A;
}


