
<ion-view view-title="finish" on-swipe-right="goBack()">
  <ion-content id="finishBack" scroll="false">
    <h1 id="startTitel"></h1>
 	<div id='sendtoWrapper'>
 		<h2> Your Yam has been send to </h2>
 	</div>
 	<img src="img/world.png" id='worldGlobe' onclick="getLocal();">
 	<div id='countryWrapper'>
 		<h1> Random citizen in the world </h1>
 	</div>
 	<button class="buttonRect" id="buttonSendAnother" class="button button-block button-positive center" ui-sref="app.start" >Send Another Yam</button>
  </ion-content>
</ion-view>
